<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

        <title>使用者:李！ - Wiki Mirror</title>
    </head>
    <body>
        <header class="site-header">
            <h2>
                <nav class="site-nav">
                    <span>Wiki Mirror</span>
                    <a href="/">Home</a>
                </nav>
            </h2>
            <hr>
        </header>
        <main id="content" class="site-main">
            <h1>使用者:李！</h1>
            <div class="catlinks">
                <span>分類 : </span>
                
            </div>
            
            <p>12345.123456789 {{#hannum:12345.123456789}}
</p><p>12345.123456789 {{#hannum:12345.123456789|<ruby class="hanja grade0"><rb>壱</rb><rp>(</rp><rt>일</rt><rp>)</rp></ruby>}}
</p><p>54321 {{#hannum:54321|<ruby class="hanja grade80"><rb>一</rb><rp>(</rp><rt>일</rt><rp>)</rp></ruby>|<ruby class="hanja grade80"><rb>萬</rb><rp>(</rp><rt>만</rt><rp>)</rp></ruby>}}
</p><p>10001 {{#hannum:10001|<ruby class="hanja grade80"><rb>一</rb><rp>(</rp><rt>일</rt><rp>)</rp></ruby>|<ruby class="hanja grade80"><rb>萬</rb><rp>(</rp><rt>만</rt><rp>)</rp></ruby>}}
</p><p>100000001 {{#hannum:100000001|<ruby class="hanja grade80"><rb>一</rb><rp>(</rp><rt>일</rt><rp>)</rp></ruby>|<ruby class="hanja grade80"><rb>萬</rb><rp>(</rp><rt>만</rt><rp>)</rp></ruby>}}
</p><p>1321 {{#hannum:1321|<ruby class="hanja grade80"><rb>一</rb><rp>(</rp><rt>일</rt><rp>)</rp></ruby>|<ruby class="hanja grade80"><rb>萬</rb><rp>(</rp><rt>만</rt><rp>)</rp></ruby>}}
</p><p>13211321 {{#hannum:13211321|<ruby class="hanja grade80"><rb>一</rb><rp>(</rp><rt>일</rt><rp>)</rp></ruby>|<ruby class="hanja grade80"><rb>萬</rb><rp>(</rp><rt>만</rt><rp>)</rp></ruby>}}
</p><p>123456789.12345 {{#hannum:123456789.12345|<ruby class="hanja grade20"><rb>壹</rb><rp>(</rp><rt>일</rt><rp>)</rp></ruby>|<ruby class="hanja grade80"><rb>萬</rb><rp>(</rp><rt>만</rt><rp>)</rp></ruby>}}
</p><p>10230450670 {{#hannum:10230450670}}
</p><p>0 {{#hannum:0}} {{#hannum:0|<ruby class="hanja grade20"><rb>壹</rb><rp>(</rp><rt>일</rt><rp>)</rp></ruby>}} {{#hannum:0|<ruby class="hanja grade20"><rb>壹</rb><rp>(</rp><rt>일</rt><rp>)</rp></ruby>|<ruby class="hanja grade30"><rb>零</rb><rp>(</rp><rt>영</rt><rp>)</rp></ruby>}}
</p><p><ruby class="hanja grade62"><rb>今年</rb><rp>(</rp><rt>금년</rt><rp>)</rp></ruby> {{#hannum:2021}}<ruby class="hanja grade80"><rb>年</rb><rp>(</rp><rt>연</rt><rp>)</rp></ruby>
</p>



        </main>
    </body>
</html>