<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

        <title>{{ page.title }} - {{ site.title }}</title>
    </head>
    <body>
        <header class="site-header">
            <h2>
                <nav class="site-nav">
                    <span>{{ site.title }}</span>
                    <a href="{{ site.baseUrl }}/">Home</a>
                </nav>
            </h2>
            <hr>
        </header>
        <main id="content" class="site-main">
            <h1>{{ page.title }}</h1>
            <div class="catlinks">
                <span>{{ site.namespaces[14] }} : </span>
                {% for category in page.categories %}
                    <a href="{{ category.url }}">{{ category.name }}</a>
                {% endfor %}
            </div>
            {% if page.members and page.members.length > 0 %}
                <ul class="catmembers">
                    {% for member in page.members %}
                        <li><a href="{{ member.url }}">{{ member.name }}</a></li>
                    {% endfor %}
                </ul>
            {% endif %}
            {{ page.content }}
        </main>
    </body>
</html>